{{ define "main" }}

  {{ partial "page-title.html" . }}
  
  {{ if (gt (len .Content) 0) }}
    <section class="section pt-5 bg-light">
      <div class="container">
        <div class="row">
          {{.Content}}
        </div>
      </div>
    </section>
    <hr class="m-0">
  {{ end }}

  {{ if .Data.Pages}}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <div class="row">
            {{ range .Data.Pages }}
              {{ .Render "post" }}
            {{ end }}
          </div>
        </div>
        {{/*  <div class="col-sm-12 col-md-3">
          <a class="twitter-timeline" href="https://twitter.com/CompNeuroImbizo?ref_src=twsrc%5Etfw">Tweets by CompNeuroImbizo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>  */}}
      </div>
    </div>
  </section>
  {{ end }}
  
{{ end }}