<div class="col-lg-4 col-sm-6 mb-4 mb-4">
  <article class="position-relative h-100 card shadow text-center rounded position-relative hover-wrapper">
      <a class="card-img-top d-flex position-relative"
          href={{if .Params.link}}"{{.Params.link | relURL}}" 
          target="_blank" {{ else }}"{{.Permalink}}"{{ end }}
          title="{{.Title }}">
        <img class="card-img-top"
            {{/*  style="height: 15em; object-fit: cover;"  */}}
            src="{{if .Params.thumbnail}}{{.Params.thumbnail | relURL}}{{ else }}{{.Params.Image | relURL}}{{ end }}"
            alt="{{.Title }}"
            title="{{.Title }}">
      </a>
      
    <div class="card-body">
      <div style="margin-top: -2.5em;">
          <h4 style="top: inherit; transform: inherit;">
            {{/*  <p class="card-text text-white">{{.Summary}}</p>  */}}
            <a class="btn btn-secondary btn shadow" 
              href={{if .Params.link}}"{{.Params.link | relURL}}" target="_blank" 
              {{ else }}  "{{.Permalink}}"{{ end }}>
                {{.Title }}
              </a>
            </h4>
      </div>
      {{/*  <h4 class="card-title">{{.Params.title }}</h4>  */}}
      {{ if .Params.designation}}
      <p class="text-light font-secondary">{{.Params.designation }}</p>
      {{ end }}
      {{ if .Summary}}
        <p class="card-text">{{.Summary}}</p>
      {{ end }}
      <p class="card-text" style="text-align: end;">
        <a href={{if .Params.link}}"{{.Params.link | relURL}}" target="_blank" {{ else }}"{{.Permalink}}"{{ end }}
            class="btn-sm btn-outline-secondary"
            title="go to '{{.Title }}' page">
            {{if .Params.link_text}}{{.Params.link_text}}&nbsp;{{ else }}{{ end }}
            <i class="ti-arrow-right"></i>
        </a>
      </p>
    </div>
    
  </article>
</div>