<div class="col col-lg-4 col-sm-6 mb-4 mb-4">
  <article class="position-relative h-100 card shadow text-center rounded position-relative hover-wrapper">
      <a class="card-img-top d-flex position-relative"
          href={{if .Params.link}}"{{.Params.link | relURL}}" 
          target="_blank" {{ else }}"{{.Permalink}}"{{ end }}
          title="{{.Title }}">
        <img class="card-img-top"
            {{/*  style="height: 15em; object-fit: cover;"  */}}
            src="{{if .Params.thumbnail}}{{.Params.thumbnail | relURL}}
                {{ else if .Params.Image}}{{.Params.Image | relURL}}
                {{else}}
                https://random.imagecdn.app/v1/image?width={{add 400 (len .Title)}}&height=150&category=nature&query={{.Title}}&format=image&text=.Title
                {{ end }}"
            alt="{{.Title }}"
            title="{{.Title }}">
            
      </a>
      
    <div class="card-body">
      <div style="margin-top: -2.5em;">
          <h4 style="top: inherit; transform: inherit;">
            {{/*  <p class="card-text text-white">{{.Summary}}</p>  */}}
            <a class="btn btn-success btn shadow" 
              href={{if .Params.link}}"{{.Params.link | relURL}}" target="_blank" 
              {{ else }}  "{{.Permalink}}"{{ end }}>
                {{.Title }}
              </a>
            </h4>
      </div>
      
      {{/*  <h4 class="card-title">{{.Params.title }}</h4>  */}}
      {{ if or .Params.author .Params.published_in}}
      <div class="d-flex flex-column justify-content-start align-items-start">
        {{ if .Params.author}}
        <p class="card-text text-light m-0 font-secondary small d-flex justify-content-between align-items-baseline"><i class="ti-id-badge"></i>&nbsp;<small> {{.Params.author }}</small></p>
        {{ end }}
        {{ if .Params.published_in}}
        <p class="card-text text-light m-0 font-secondary small d-flex justify-content-around align-items-baseline"><i class="ti-book"></i>&nbsp;<small>{{.Params.published_in }}</small></p>
        {{ end }}
      </div>
      {{ end }}
      {{ if .Summary}}
        <p class="card-text">{{.Summary}}</p>
      {{ end }}
    </div>
    <div class="card-footer">
      <p class="card-text d-flex flex-row flex-wrap justify-content-between align-items-center
      {{ if .Params.categories}}p-0 m-0{{end}}">
        <i class="d-inline-block ti-calendar small"> 
          <small class="px-1 text-muted font-primary">{{.Lastmod.Format "2006-01-02"}}</small></i> 
        <a href={{if .Params.link}}"{{.Params.link | relURL}}" target="_blank" {{ else }}"{{.Permalink}}"{{ end }}
            class="d-inline-block btn-sm btn-outline-success"
            title="go to '{{.Title }}' page">
            {{if .Params.link_text}}{{.Params.link_text}}&nbsp;{{ else }}read more {{ end }}
            {{if .Params.link}}<i class="ti-new-window"></i>{{ else }}<i class="ti-arrow-right"></i>{{ end }}
        </a>
      </p>
      {{ with .Params.categories}}
      <p class="d-flex flex-wrap m-0 p-0">
        {{ range . }}
        <a href="/categories/{{ . | urlize }}" class="badge badge-success bg-secondary badge-pill text-white mx-1">{{ . }}</a>
        {{ end }}
      </p>
      {{ end }}
    </div>
  </article>
</div>