{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center mb-4">
        {{if .Params.thumbnail}}
        <img src="{{.Params.thumbnail | relURL}}" alt="{{.Title}}" class="img-fluid rounded mb-4">
        {{ end }}
      </div>
      <div class="col-12">
        <div class="content">
          {{.Content}}
        </div>
        {{if .Params.link}}
        <a href="{{.Params.link | relURL}}" target="_blank" class="btn btn-sm btn-primary">Read more</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}