{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center mb-4">
        {{if .Params.thumbnail}}
        <img src="{{.Params.thumbnail | relURL}}" alt="{{.Title}}" class="img-fluid rounded mb-4">
        {{ end }}
        <p class="font-secondary text-muted">Published 
          {{if .Params.published_in}}in <strong>{{.Params.published_in | markdownify}}</strong> {{ end }}
          on <span class="text-secondary">{{ .PublishDate.Format "02 January 2006" }}</span>
            {{ if .Params.Author }}
            by <span class="text-primary">{{ .Params.Author | markdownify}}</span>
            {{ end }}
          {{ if .Params.update}}
            | updated 
            on <span class="text-secondary">{{ .Params.update.Format "02 January 2006" }}</span>
              {{ if .Params.update_author }}
              by <span class="text-primary">{{ .Params.update_author | markdownify}}</span>
              {{ end }}
            
          {{ end}}
        </p>
        
      </div>
      <div class="col-lg-9 col-12">
        <div class="content">
          {{.Content}}
        </div>
        {{if .Params.link}}
        <a href="{{.Params.link | relURL}}" target="_blank" class="btn btn-sm btn-primary"
          title="{{if .Params.link_text}}{{.Params.link_text}}{{ else }}Read More{{ end }}">
          {{if .Params.link_text}}{{.Params.link_text}}{{ else }}Read More{{ end }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}