{{ define "main" }}

{{ partial "page-title.html" . }}


{{ if (gt (len .Data.Pages) 0) }}
<section class="section bg-secondary">
  <div class="container-fluid">
    <div class="row align-items-start">
      {{ range .Data.Pages }}
        {{ .Render "post" }}
      {{ end }}
    </div>
  </div>
</section>
<hr class="m-0">
{{ end }}

{{ if (gt (len .Content) 0) }}
<section class="section pt-5 bg-light">
  <div class="container">
    <div class="row">
      {{.Content}}
    </div>
  </div>
</section>
<hr class="m-0">
{{ end }}


<!-- application -->
<section class="section pt-5" id="apply">
  <div class="container-fluid">
    {{partial "applications"}}
  </div>
</section>
<!-- /application -->

<!-- Target applications -->
{{ if site.Data.application_info.target_applicants.enable }}
{{ with site.Data.application_info.target_applicants }}
<hr class="mb-0 mt-0">
<section class="section bg-light">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12">
        <div class="project-meta">
          <i class="ti-info"></i>
          <div class="ms-3">
            <p class="text-muted font-weight-light">
              {{ .content | markdownify}}
            </p>
          </div>
        </div>
        <h3 class="text-center font-weight-bold mt-5">{{ .preamble | markdownify }}</h3>
      </div>
      <div class="col-12">
        <div class="row justify-content-around">
          {{ range .item }}
          <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
            {{ if in .icon "ti-"}}
            <i class="{{ .icon }} fs-1 my-4"></i>
            {{ else }}
            <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
            {{ end }}
            <h4 class="mb-4">{{ .title }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Target applications-->

{{ if site.Data.application_info.faq.enable }}

{{ partial "faq.html" site.Data.application_info.faq}}

{{ end }}

<!-- team -->
{{ if site.Data.application_info.team.enable }}
{{ with site.Data.application_info.team }}
<hr class="mb-0 mt-0">
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ end }}