{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      {{ .Content }}
    </div>
    {{with site.Data.application_info}}
      <div class="row my-5">
        <div class="col-12 text-center">
          <!-- application info -->
          {{ $t := (time .dates.applications_close_date) }}
          {{ if .open }}
          <a href="{{ .URL | absURL }}" class="btn btn-success btn-lg btn-block">{{.label}}</a>
          <p>Closing {{site.Data.application_info.dates.applications_close_date}}</p>
          {{else if $t.Before now }}
          <a href="{{ .URL | absURL }}" class="btn disabled btn-danger btn-lg">{{.closed_message}}</a>
          <p class="text-muted">
            Acceptances expected {{site.Data.application_info.dates.acceptance_date}}
          </p>

          {{else}}
          <a href="{{ .URL | absURL }}" class="btn disabled btn-info btn-lg">{{.closed_message}}</a>
          <p class="text-muted">
            Opening {{site.Data.application_info.dates.applications_open_date}}
          </p>
          {{ end }}
          <!-- application info -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="justify-content-center">
          <div class="project-meta">
            <i class="ti-calendar"></i>
            <div class="ml-3">
              <h4>Application period</h4>
              <p>
                {{ .dates.applications_open_date }} -
                {{ dateFormat "Jan 02, 2006 15:04:05 MST" .dates.applications_close_date }}
                <br><small>notified {{ .dates.acceptance_date }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    {{end}}

    </div>
  </div>
</section>
<!-- /about -->

<!-- Target applications -->
{{ if site.Data.application_info.target_applicants.enable }}
{{ with site.Data.application_info.target_applicants }}
<hr class="mb-0 mt-0">
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      <div class="col-12">
        <div class="project-meta">
          <i class="ti-info"></i>
          <div class="ml-3">
            <p class="text-muted font-weight-light">
              {{ .content | markdownify}}
            </p>
          </div>
        </div>
        <h3 class="text-center font-weight-bold mt-5">{{ .preamble | markdownify }}</h3>
      </div>
      <div class="col-12">
        <div class="row justify-content-around">
          {{ range .item }}
          <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
            <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
            <h4 class="mb-4">{{ .title }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Target applications-->

{{ if site.Data.application_info.faq.enable }}
{{ with site.Data.application_info.faq }}
<section class="section pt-5" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item}}
      <div class="col-12">
        <div class="project-meta">
          <i class="ti-help"></i>
          <div class="ml-3">
            <div class="font-weight-bold mt-5"></h3>{{ .question | markdownify }}</div>
            <p class="text-muted font-weight-light">
              {{ .answer | markdownify}}
            </p>
          </div>
        </div>
      </div>
      {{end}}


    </div>
  </div>
</section>
<!-- /about -->
{{ end }}
{{ end }}

<!-- team -->
{{ if site.Data.application_info.team.enable }}
{{ with site.Data.application_info.team }}
<hr class="mb-0 mt-0">
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ end }}