{{ define "main" }}

  {{ partial "page-title.html" . }}

  <!-- news -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <div class="row">
            {{ range .Data.Pages }}
            {{ .Render "post" }}
            {{ end }}
          </div>
        </div>
        {{ range site.Params.social }}
        {{ if in .URL "twitter" }}
        <div class="col-sm-12 col-md-3">
          <a class="twitter-timeline" href="{{.embed_url}}">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /news -->

{{ end }}