<div class="row align-items-baseline justify-content-around">
{{$num_items := len site.Data.application_info.applications}}
{{$col_size := math.Round (div 12 $num_items) }}
{{if lt $col_size 4}}
    {{ $col_size = 4}}
{{ else if gt $col_size 6}}
    {{ $col_size = 6}}
{{ end }}

{{range site.Data.application_info.applications}}
    {{$app_col_size := default $col_size .col_size}}
    <div class="col-md-{{(sub $app_col_size 1)}} col-5">
        {{partial "application_button" (dict "context" . "with_info" false)}}
    </div>
{{end}}
</div>