

<!-- footer -->
<footer class="bg-dark footer-section">
  {{/*  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.email}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.phone}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">{{site.Params.address}}</p>
        </div>
      </div>
    </div>
  </div>  */}}
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ if and site.Params.contact.enable site.Params.contact.floating }}

  {{  "<!-- Formspree floating button -->" | safeHTML }}
  <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    /* paste this line in verbatim */
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};

    /* customize formbutton below*/     
    formbutton("create", {
      action: "{{site.Params.contact.form_action}}",
      title: "How can we help?",
      fields: [
        { 
          type: "email", 
          label: "Email:", 
          name: "email",
          required: true,
          placeholder: "your@email.com"
        },
        {
          type: "textarea",
          label: "Message:",
          name: "message",
          placeholder: "What's on your mind?",
        },
        { type: "submit" }      
      ],
      styles: {
        title: {
          backgroundColor: "{{site.Params.theme_color}}"
        },
        button: {
          backgroundColor: "gray"
        }
      }
    });
  </script>
{{ end }}


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}