{{/*  allow params to be passed and the context normally in "." will be "context"  */}}
{{$context := default . .context}} 
{{/*  allowed params  */}}

{{ $show_all := default false site.Data.homepage.faculty.show_all}}
{{ $show_all = default $show_all .show_all }}
{{ $slider := default true site.Data.homepage.faculty.slider}}
{{ $slider = or $slider .show_all }}

{{ $sortby := default "max_year" site.Params.faculty.sortby }}
{{ $order := default "desc" site.Params.faculty.order }}


{{/*  template  */}}
{{ with $context}}
  {{/*  all catergories is used to find max_year overall  */}}
  {{ $all_cats := slice}}
  {{/*  merge . mapping such that it has a new property .name that is equal to the key  */}}
  {{ $merged_people := slice }}
  {{ range $person_info := .people }}
    {{/* Find latest year per person*/}}
    {{ $max_year := index (last 1 (sort $person_info.years)) 0 }}
    {{ $all_cats = $all_cats | append $person_info.years }}
    {{ $merged_people = append $merged_people (slice (merge $person_info (dict "max_year" $max_year))) }}
  {{ end }}

  {{/*  select only unique cats  */}}
  {{ $all_cats = $all_cats | uniq | sort }}
  {{ $select_years := last 1 $all_cats}}

  <!--  determine if to use a slider -->
  {{ $faculty_slider_disable := "" }}
  {{ if (or (not $slider) (lt (len (where $merged_people "max_year" "in" $select_years)) 12))}}
    {{$faculty_slider_disable = "-disable flex-wrap"}}
  {{ end }}
  <!-- /end slider determination-->
  
  <div class="faculty-logo-slider{{$faculty_slider_disable}} d-flex align-items-center justify-content-center">
    {{ range $info := sort $merged_people $sortby $order  }}
      {{ $is_current := (or $show_all (intersect $select_years $info.years) )}}
      {{ if $is_current}}
          {{partial "people-person" (dict "context" $info "disable_modal" true)}}
      {{ end }}
    {{ end }}
  </div>

{{ end }}