{{/*  allow params to be passed and the context normally in "." will be "context"  */}}
{{$context := default . .context}}
{{/*  allowed params  */}}
{{$name := default $context.name .name}}

{{ $tracks := default site.Data.tracks.tracks .tracks}}

{{ $badges := default false site.Params.faculty.badges }}
{{ $badges = default $badges .badges }}

{{ $show_track := default false site.Data.homepage.faculty.show_track}}
{{ $show_track = default $show_track .show_track}}

{{ $col := default "col-lg-3 col-sm-6 col-md-4" .col }}

{{/*  template  */}}

{{ with $context}}
{{/*  get or create link  */}}
{{ $link := default "" .link}}
{{ $speaker_link := default "/people" site.Data.homepage.faculty.link}}
{{ if eq $link ""}}
{{$link = printf "%s/#%s" $speaker_link $name | urlize}}
{{ end }}

{{ $path := printf "%s" .image}}
{{ $last_name := lower (index (split $name " ") 1) }}
{{if not .image}}
    {{ $path = printf "images/people/%s.jpg" $last_name}}
{{end}}
<div
  class="{{$col}} mb-4 shuffle-item d-flex center text-center flex-column"
  id="{{$name | urlize}}"
  data-groups='[{{range $index, $element:= .years }}{{if ne $index 0}},{{end}}"{{. | urlize}}"{{ end }}]'
> 
  {{if not (eq $link "")}}
   <a href="{{$link}}"
  {{else}}
   <div
    {{end}}

    {{with .modal}}  
      data-bs-toggle="modal"
      data-bs-target="{{$link}}-modal"
      title="click to open modal for more information"
    {{end}}
    class="pt-1 ms-0 center text-center"
    {{ if not (in $link "#") }}target="_blank"{{end}}
    class="d-flex"
  >
    <div class="circletag">
      <img
        src="{{ $path | absURL }}"
        alt="{{$name}}"
        class="img-fluid w-100 d-block"
      />
    </div>
    <h4 class="m-0 px-2">{{ $name }}</h4>
  {{if not (eq $link "")}}
  </a>
  {{else}}
  </div>
  {{ end }}
  <div class="faculty-extra">
    <p class="my-0 p-0 text-light text-compressed">{{.affiliation}}</p>
    {{ if .topic }}
    <p class="m-0 p-0 text-muted text-compressed">
      <small>{{ .topic }}</small>
    </p>
    {{ end }}
    {{ if $show_track}}
    <div class="faculty-badges mt-1 position-relative">
        {{ range $year := .years | sort}} 
          {{ $color := "#000000" }} 
          {{ range $track := $tracks }}
            {{ if eq $year $track.name }}{{ $color = $track.color }}{{ end }}
          {{ end }}      
          {{ $class := "rounded" }} 
          {{ if $badges }} 
              {{ $class = "p-2 rounded-circle" }} 
          {{ end }}
          <small
              class="font-primary d-inline-block badge border border-light {{$class}}"
              data-color="{{ $color }}"
              {{ if $badges }}
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="{{ . }}"
              {{ end }}
          >
              {{ if not $badges }}{{ . }}{{ end }}
              <span class="visually-hidden">{{ . }}</span>
          </small>
        {{end}}
        </div>
    {{end}}
  </div>
</div>

{{with .modal}} 
<!-- Modal -->
<div class="modal fade" id="{{$name | urlize}}-modal" tabindex="-1" aria-labelledby="{{$name}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="exampleModalLabel">{{$name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{/*  end context  */}}
{{ end }}



