{{ $tracks := default site.Data.tracks.tracks .tracks }}
{{ $badges := default false .badges }}

{{ $sortby := default "max_year" site.Params.faculty.sortby }}
{{ $order := default "desc" site.Params.faculty.order }}
{{ $show_track := default false site.Params.faculty.show_track }}

{{/*  merge . mapping such that it has a new property .name that is equal to the key  */}}
{{ $merged_people := slice }}
{{ range $person_info := .people }}
  {{/* Find latest year per person*/}}
  {{ $max_year := index (last 1 (sort $person_info.years)) 0 }}
  {{ $merged_people = append $merged_people (slice (merge $person_info (dict "max_year" $max_year))) }}
{{ end }}

{{ range $info := (sort $merged_people $sortby $order)  }}
    {{partial "people-person" (dict "context" $info "tracks" $tracks "show_track" $show_track "badges" $badges "width" "w-10")}}
{{ end }}
