{{/*  allow params to be passed and the context normally in "." will be "context"  */}}
{{$context := default . .context}} 
{{/*  allowed params  */}}
{{ $tracks := default site.Data.tracks .tracks}}
{{ $badges := default false .badges }}
{{ $show_track := default false site.Data.homepage.faculty.show_track}}
{{ $show_track = default $show_track .show_track}}

{{/*  template  */}}
{{ with $context}}

{{ $path := printf "%s" .image}}
{{ $last_name := lower (index (split .name " ") 1) }}
{{if not .image}}
    {{ $path = printf "images/people/%s.jpg" $last_name}}
{{end}}
<div
  class="col-lg-3 col-sm-6 col-md-4 mb-4 shuffle-item d-flex center text-center flex-column"
  id="{{.name | urlize}}"
  data-groups='[{{range $index, $element:= .years }}{{if ne $index 0}},{{end}}"{{. | urlize}}"{{ end }}]'
>
  <a
    href="{{.link}}"
    class="pt-1 ms-0 center text-center"
    target="_blank"
    class="d-flex"
  >
    <div class="circletag">
      <img
        src="{{ $path | absURL }}"
        alt="{{.name}}"
        class="img-fluid w-100 d-block"
      />
    </div>
    <h4 class="m-0">{{ .name }}</h4>
  </a>

  <div class="faculty-extra">
    <p class="my-0 p-0 text-light text-compressed">{{.affiliation}}</p>
    {{ if .topic }}
    <p class="m-0 p-0 text-muted text-compressed">
      <small>{{ .topic }}</small>
    </p>
    {{ end }}
    {{ if $show_track}}
    <div class="faculty-badges mt-1 position-relative">
        {{ range .years | sort}} 
        {{ $color := "#000000" }} 
        {{ $class := "rounded" }} 
        {{ $year := . }}
        {{ range $tracks }} 
            {{ if eq $year .title }} {{ $color = .color }} {{ end }} 
        {{ end }}
        
        {{ if $badges }} 
            {{ $class = "p-2 rounded-circle" }} 
        {{ end }}
        <small
            class="font-primary d-inline-block badge border border-light {{$class}}"
            data-color="{{ $color }}"
            {{ if $badges }}
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="{{ . }}"
            {{ end }}
        >
            {{ if not $badges }}{{ . }}{{ end }}
            <span class="visually-hidden">{{ . }}</span>
        </small>
        {{end}}
        </div>
    {{end}}
  </div>
</div>

{{ end }}