{{/* allowed params passed as (dict collapsed true) */}} 
{{ $collapsed := default false .collapsed }} {{/* template */}} 
{{ $schedule_data := default site.Data.schedule .schedule }}
{{ $faculty_data := default site.Data.faculty .faculty}}

{{ $type := (printf "%T" $schedule_data) }}
{{ if eq $type "string" }}
{{ $schedule_data = index site.Data $schedule_data }}
{{ end }}

{{ $tracks := default site.Data.tracks.tracks site.Data.faculty.tracks }}

{{ $type := (printf "%T" $faculty_data) }}
{{ if eq $type "string" }}
{{ $faculty_data = index site.Data $faculty_data }}
{{ end }}

{{with $schedule_data}}
<div class="schedule-tab accordion">
  {{ range .days }} {{ $day_id := .title | anchorize}}
  <div class="accordion-item">
    <h3 class="accordion-header font-tertiary" id="{{$day_id}}-heading">
      <button
        class="accordion-button {{if $collapsed}}collapsed{{end}}"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{$day_id}}-collapse"
        aria-expanded="true"
        aria-controls="{{$day_id}}-collapse"
      >
        <div class="col-md-9 col-xs-12">
          <h4 class="font-primary">{{.title}}</h4>
        </div>
        <div class="col-md-2 col-xs-12">
          <h5 class="font-tertiary">
            <i class="ti-calendar"></i>&nbsp; {{/* date */}} 
            {{.date | dateFormat "Mon 02 Jan 2006"}}
          </h5>
        </div>
      </button>
    </h3>
    <div
      id="{{$day_id}}-collapse"
      class="accordion-collapse collapse {{if not $collapsed}}show{{end}}"
      aria-labelledby="{{$day_id}}-heading"
    >
      <div class="accordion-body">
        {{ range .sessions }}
        <div class="row schedule-listing justify-content-between">
          <div class="schedule-slot-time col-md-2 col-xs-12">
            <i class="ti-time"></i>&nbsp;{{.time}}
          </div>
          <!-- determine column size (10 = 12 - 2 for the time) end -->
          {{$col_size := (div 12 (len .columns))}}

          <!-- different tracks -->
          <div
            class="row col-md-10 col-xs-12 schedule-listing justify-content-evenly"
          >
            {{ range .columns }}
            <div class="schedule-slot-info col-md-{{$col_size}} col-xs-12">
              <!-- heading -->
              <div class="schedule-slot-info-heading">
                {{ $current_track := default "" .track }}
                {{ if .track }}
                <!-- find track color -->
                {{ $track_color := "#000000" }}
                <!-- capture current track to a var for comparison -->
                {{ $track_name := .track }}
                <!-- loop through tracks -->
                  {{ range $tracks }}
                  <!-- compare current track to track in loop -->
                    {{ if eq (.name | anchorize) ($track_name | anchorize) }}
                    <!-- assign -->
                    {{ $track_color = .color }}
                    <!-- /assign -->
                    {{ end }}
                  <!-- end if -->
                  {{ end }}
                  <!-- end range -->
                <!-- /track color -->
                <h6
                  class="schedule-slot-title-track text-white font-tertiary text-uppercase p-2 mb-0 badge"
                  data-color="{{$track_color}}"
                >
                  <span>
                    {{$title := default .track .title}}
                    <!-- consider the case of track being empty -->
                    {{ if eq $title "" }} {{ $title = .track }} {{ end }}
                    {{$title}}
                    <!-- get number of sessions -->
                    {{ $num_sessions := 0}} {{ if .number }}
                    <!-- assign from data -->
                    {{ $num_sessions = .number }} {{ else if .sessions }}
                    <!-- calculate from sessions -->
                    {{ $num_sessions = (len .sessions) }} {{end }}
                    <!-- /get number of sessions -->
                    <!-- display number of sessions -->
                    {{ if not (or (eq $num_sessions "") (eq $num_sessions 0) (eq
                    $num_sessions "0") (eq $num_sessions "false")) }}
                    <span
                      class="font-primary position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill bg-danger"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="number of speakers"
                    >
                      {{$num_sessions}}
                      <span class="visually-hidden">number of speakers</span>
                    </span>
                    {{end}}
                    <!-- /display number of sessions -->
                  </span>
                </h6>

                {{ else }}
                <h3 class="schedule-slot-title text-uppercase mb-0">
                  {{.title}}
                </h3>
                {{ end }}
                <!-- end track -->

                <!-- heading location -->
                {{ if .location}}
                <small class="text-muted pt-0 mt-0"
                  ><i class="ti-pin"></i>{{.location | markdownify}}</small
                >
                {{end}}
                <!-- /heading location -->
                
                <!-- heading image -->
                {{ if .image }}
                <div class="schedule-slot-image">
                  <img
                    src="{{.image}}"
                    alt="{{.title}}"
                    class="img-fluid"
                  />
                </div>
                {{ end }}

                <!-- heading desciption -->
                {{ if .content }}
                <p class="text-muted">{{.content | markdownify}}</p>
                {{ end }}
                <!-- /heading desciption -->
              </div>
              <!-- /heading-->
              {{range .sessions}}
              <div
                class="schedule-slot-info-content row justify-content-center align-items-start 
                       display-block position-relative"
              >
                {{$panel := default (slice .) .panel}}
                {{$isPanel := (gt (len $panel) 1)}}
                {{$col := "col-lg-3 col-12 gx-0"}}
                {{ if $isPanel }}
                  {{$col = "col-2 gx-0"}}
                {{ end }}
                {{$context := .}}
                
                {{ range $panel }}
                  {{$context = .}}
                    {{/*  merge values from faculty  */}}
                    {{/* find topic in faculty  */}}
                    {{/*  keep name in scope for comparison  */}}
                    {{$name := .name}}
                    {{/*  loop faculty  */}}
                    {{ range $faculty_data.people }}
                      {{/*  compare  */}}
                      {{ if eq .name $name }}
                        {{/*  assign  */}}
                        {{ $context = merge $context . }}
                        {{/*  /assign  */}}
                      {{ end }}
                    {{end}}
                  {{/*  /loop faculty  */}}
                  {{/*  /find topic in faculty  */}}
                  {{/*  /merge values from faculty  */}}
                  <div class="{{$col}} shuffle-item d-flex center text-center flex-column">
                  {{partial "people-person" (dict "context" $context "show_extra" false 
                                            "show_track" false "col" "override" 
                                            "width" "w-8" ) }}
                    {{ if .time}}
                      <span
                        class="font-primary badge bg-light text-dark  border border-light rounded-pill 
                        position-absolute top-0 start-0 translate-start" 
                      >
                      {{.time}}
                      </span>
                    {{end}}
                  </div>
                {{ end }}

                {{ $title := default "" .title }}
                
                {{if eq $title ""}}
                  {{ $title = $context.topic }}
                {{end}}

                {{$talkCol := "col-lg-8 col-10"}}
                {{ if $isPanel }}
                  {{$talkCol = "col-12 text-center"}}
                {{ end }}
                <div class="pt-1 schedule-slot-desc {{$talkCol}}">
                  <h5 class="font-primary">
                    {{if eq $context.link "modal"}}
                      <a
                        data-bs-toggle="modal"
                        data-bs-target="#{{.name | anchorize}}-modal"
                        title="click to open modal for more information"
                      > 
                    {{end}}
                    {{$title}}
                    {{if eq $context.link "modal"}}</a>{{end}}
                  </h5>
                  {{if $context.years}}

                    {{/* iterate through tags (years)   */}}
                    {{range $year := $context.years}}
                      
                      {{ if not (eq $year $current_track) }}
                        {{/*  only add tags for non-top-level tracks  */}}
                          <!-- match the year to the tracks in the data file and get color value -->
                        {{ $color := "" }}
                        
                        {{ range $track := $tracks }}
                          {{ if eq $year $track.name }}{{ $color = $track.color }}{{ end }}
                        {{ end }} 

                        <span
                        class="font-primary badge border border-light " 
                        style="background-color: {{ $color }} !important; border-color: {{ $color }};"
                      >
                        {{.}}
                        </span>
                      {{end}}
                      {{/*  end not same as heading topic  */}}
                    {{end}}
                    {{/* end range years   */}}
                  {{end}}
                  {{/*  end if years  */}}
                </div>
                {{if not $isPanel}}
                  <div class="p-0 schedule-slot-desc col-lg-1 col-2 d-flex flex-column">
                    {{if $context.talk_description}}
                    <a
                      href="#{{.name | anchorize}}-modal"
                      data-bs-toggle="modal"
                      data-bs-target="#{{.name | anchorize}}-modal"
                      title="click to open modal for more information"
                    >
                      <i class="ti-layout-media-left-alt"></i>
                    </a>
                    {{/*  add links and things here  */}}
                    {{end}}
                  </div>
                  {{end}}
                </div>
              {{end}}

            </div>
            <!-- Slot info end -->
            {{ end }}
          </div>
        </div>
        <!-- Schedule listing end -->
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
