<!-- sponsor slideshow -->
{{ with site.Data.partners }}
<div class="col-12 text-center">
  <h2 class="section-title text-white mb-5">{{ .title | markdownify }}</h2>
</div>


<div class="col-lg-10 mx-auto slideshow-slider d-flex align-items-center">
  {{ range .sponsors }}
  <!-- slider-item -->
  <div class="text-center slideshow-content">
    <!-- <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i> -->
    <h3 class="text-white mb-4">{{.tier | markdownify}}</h3>
    <div class="row">
      {{ $size := .size }}
      {{$num_items := len .item}}
      {{$col_size := math.Round (div 12 $num_items) }}
      {{if lt $col_size 2}}
      {{ $col_size = 3}}
      {{ end }}
      {{ range .item }}
      <div class="col-{{$col_size}}">
        {{ if .image }}
        <img class="img-fluid mb-4 d-inline-block p-2"
          style="max-width: {{$size}}%; {{if .background_color}}background-color: {{.background_color}};{{end}}"
          src="{{.image | absURL }}" alt="{{.name}}" />
        {{ end }}
        <h4 class="text-white">{{ .name }}</h4>
        <h6 class="text-light mb-4">{{ .designation }}</h6>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}

<!-- /sponsor slideshow -->