<section class="section bg-secondary ">
  <div class="container ">
    <div class="row mb-5 sticky-top" style="top: 85px; z-index:1200;">
    <!-- sponsors -->
    {{ with site.Data.sponsors }}
    <div class="col-12">
      <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons"
              style="box-shadow: 0 0 5px rgba(0,0,0,0.5); border-radius: 5px;" role="group"
              aria-label="select faculty year">
          <input type="radio" class="btn-check" name="shuffle-filter" id="all" value="all" autocomplete="off"
                checked="checked"><label class="btn btn-sm btn-primary" for="all">All</label>
          </label>
        {{ $tiers := slice }} 
        {{ range .sponsors }} 
          {{ $filtered := where .item "current" (not false)}}
            {{ if $filtered}}
              {{ $tiers = $tiers | append .tier }} 
          {{ end }} 
        {{ end }} 
        {{ range ( $tiers | uniq ) }}
          <input type="radio" class="btn-check" name="shuffle-filter" id="{{.}}" value="{{ . | anchorize }}" />
          <label class="btn btn-sm btn-primary" for="{{.}}">{{ . }}</label>
        {{ end }}
      </div>
    </div>
    </div>
    <div class="row mt-4 position-relative shuffle-wrapper">
      {{ range .sponsors}} 
        {{ $tier := .tier }}
        {{ $size := .size }}
        {{ $filtered := where .item "current" (not false)}}
        {{ if $filtered}}
        <div class="col-lg-3 col-sm-12 col-6 mb-4 shuffle-item" 
            data-groups="[&quot;{{$tier | anchorize}}&quot;]">
            {{/*  include a dummy div that sets the size of the blocks  */}}
        </div>
        <div class="col-12 shuffle-item"
            data-groups="[&quot;{{$tier | anchorize}}&quot;]">
            <h2 class="text-dark">{{.tier | markdownify}}</h2>
        </div>
          {{range $filtered}}
            <div
              class="col-lg-3 col-sm-12 col-6 mb-4 shuffle-item"
              data-groups="[&quot;{{$tier | anchorize}}&quot;]" 
            >
              <a
                href="{{.link}}"
                class="pl-0 ms-0 center text-center"
                target="_blank"
              >
                <div class="position-relative">
                  {{if (or .image .image_alt)}}
                  <img
                    src="{{if .image_alt}}{{ .image_alt | absURL }}{{else}}{{ .image | absURL }}{{end}}"
                    alt="{{.name}}"
                    title="{{.name}}"
                    class="img-fluid w-100 d-block p-2 m-auto"
                    style="{{if .background_color}}background-color: {{.background_color}};{{end}}
                           {{if $size}}width: {{$size}}% !important;{{end}}"
                  />
                  {{else}}
                  <h4 class="text-white font-weight-light">{{ .name }}</h4>
                  {{end}}
                </div>
                <div>
                  <p class="mb-0 text-white font-weight-light">{{ .name}}</p>
                </div>
              </a>
            </div>
          {{ end }} {{/*  end range item  */}}
          <div class="col-12 shuffle-item text-center" id="teaching-assistants"
            data-groups="[&quot;{{$tier | anchorize}}&quot;]">
            <hr>  
          </div>  
      
          {{ end }}  {{/*  end if filtered  */}}
        {{ end }} {{/*  end range sponsors  */}}
      {{ end }}{{/*  end with  */}}
    </div>
    <!-- /sponsors -->
</div>
</section>