<!-- sponsor slideshow -->
{{ with site.Data.sponsors }}
<div class="col-12 text-center">
  <h2 class="section-title text-white mb-5">{{ .title | markdownify }}</h2>
</div>

<div class="col-12">
  <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
    <label class="btn btn-sm btn-primary active">
      <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
    </label>
    {{ $tiers := slice }}
    {{ range .item }}
    {{if .current}}
    {{ $tiers = $tiers | append .tier }}
    {{ end }}
    {{ end }}
    {{ range ( $tiers | uniq ) }}
    <label class="btn btn-sm btn-primary">
      <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . }}
    </label>
    {{ end }}
  </div>

  <div class="row shuffle-wrapper mt-4">
    {{ range sort .item "tier_weight" "asc"}}
    {{if .current}}

    <div class="col-lg-3 col-sm-12 col-6 mb-4 shuffle-item" data-groups="[&quot;{{.tier | urlize}}&quot;]">
      <a href="{{.link}}" class="pl-0 ms-0 center text-center" target="_blank" class="d-flex">
        <div class="position-relative">
          {{if .image}}
          <img src="{{ .image | absURL }}" alt="{{.name}}" class="img-fluid w-100 d-block p-2"
            style="{{if .background_color}}background-color: {{.background_color}};{{end}}">
          {{else}}
          <h4 class="text-white font-weight-light">{{ .name }}</h4>
          {{end}}
        </div>
        <div>
          <p class="mb-0 text-white font-weight-light">{{ .tier}}</p>

        </div>
      </a>
    </div>
    {{ end }}
    {{ end }}

    {{ end }}
  </div>
  <!-- /sponsor slideshow -->