{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
					{{ $years := slice }}
					{{ range site.Data.faculty.item }}
        
					  {{ range .years }}
					    {{ $years = $years | append . }}
					  {{ end }}
					{{ end }}
					{{ range ( $years | uniq | sort ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range site.Data.faculty.item  | sort }}
      <div class="col-lg-3 col-xs-12 col-4 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .years }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <a href="{{.link}}" class="pl-0 ml-0 center text-center", target="_blank" class="d-flex">
          <div class="circletag">
            {{if .image}}
            <img src="{{ .image | absURL }}" alt="{{.name}}" class="img-fluid w-100 d-block">
            {{else}}
              {{$last_name := lower (index (split .name " ") 1) }}
              {{ $path :=  printf "images/people/%s.jpg" $last_name}}
                <img src="{{ $path | absURL }}" alt="{{.name}}" class="img-fluid w-100 d-block">
            {{end}}
          </div>
          <div>
            <h4>{{ .name }}</h4>
            <p class="mb-0 text-light">{{.affiliation}}</p>
            <small class="text-muted mb-1">{{ range .years}} {{ . }} {{end}}</small>

          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}