{{ define "main" }}

<!-- hero area -->
<section class="hero-area overflow-hidden"
  style="{{ if site.Data.homepage.banner.min_header_height}}min-height:{{site.Data.homepage.banner.min_header_height}};{{ end }}"
  {{ if site.Params.decor }} id="parallax" {{ end }}>
  <div class="layer-bg w-100 position-absolute"
    style="{{ if site.Data.homepage.banner.opacity}}opacity:{{site.Data.homepage.banner.opacity}}%;{{ end }}">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1 class="text-white font-tertiary">
          {{ site.Data.homepage.banner.title | safeHTML }}
        </h1>
      </div>
      <!-- social icon -->
      <ul class="list-unstyled mt-3 position-relative zindex-1 d-flex align-items-center justify-content-end">
        {{ range site.Params.social }}
        {{ if gt (len .URL) 5}}
        <li class="m-3">
          {{ if .embed}}
          {{ .embed | safeHTML}}
          {{ else }}
          <a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a>
          {{ end }}
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <!-- /social icon -->

      {{ with site.Data.homepage.school }}
        {{ if .dates.school_start_date}}
          <div class="col-lg-6 mx-auto" style="position:relative;">
            <h4 class="text-white font-tertiary text-center">
              <i class="ti-calendar"></i> {{ dateFormat "Jan 02, 2006" .dates.school_start_date }} -
              {{ dateFormat "Jan 02, 2006" .dates.school_end_date }}
            </h4>
          </div>
        {{ end }}
      {{ end }}

    </div>
      
  {{ if site.Params.decor }}
  <div class="layer" id="l2">
    <img src="{{`images/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l3">
    <img src="{{`images/illustrations/leaf-orange.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l4">
    <img src="{{`images/illustrations/dots-orange.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l5">
    <img src="{{`images/illustrations/leaf-yellow.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l6">
    <img src="{{`images/illustrations/leaf-cyan.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l7">
    <img src="{{`images/illustrations/dots-group-orange.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l8">
    <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l9">
    <img src="{{`images/illustrations/leaf-cyan-2.svg` | relURL}}" alt="bg-shape" />
  </div>
  {{end}}

</section>
<!-- /hero area -->

{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      {{with site.Data.application_info}}
      <div class="col-10 mx-auto text-center">
        <p class="font-secondary lead text-dark">{{site.Data.homepage.about.content | markdownify}}</p>
      </div>
      <div class="col-12 my-5 text-center">
        {{ if site.Data.homepage.about.show_application_info }}
        <!-- application info -->
        {{ $t := (time .dates.applications_close_date) }}
        {{ if site.Data.application_info.applications_open }}
        <a href="{{ .URL | absURL }}" class="btn btn-success btn-lg btn-block">{{.label}}</a>
        <p>Closing
          {{dateFormat "Monday 02 Jan 2006 at 15:04:05 MST" site.Data.application_info.dates.applications_close_date }}
        </p>
        {{else if $t.Before now }}
        <a href="{{ .URL | absURL }}" class="btn disabled btn-danger btn-lg"
          aria-disabled="true">{{.closed_message}}</a>
        <p class="text-muted">
          Acceptances expected {{site.Data.application_info.dates.acceptance_date}}
        </p>

        {{else}}
        <a href="{{ .URL | absURL }}" class="btn disabled btn-info btn-lg" aria-disabled="true">{{.closed_message}}</a>
        <p class="text-muted">
          Opening {{site.Data.application_info.dates.applications_open_date}}
        </p>
        {{ end }}
        <!-- application info -->
        {{ end }}
      </div>
      <div class="col-12 text-center">
        <a href="/apply" class="btn btn-sm btn-outline-secondary"><i class="ti-info-alt"></i>
          &nbsp;{{.info_link_label}}</a>
      </div>
    </div>
    {{end}}
  </div>
</section>
<!-- /about -->
{{ end }}

<!-- the school -->
{{ with site.Data.homepage.school }}
<hr class="mb-0" />

<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title text-center mb-5">{{ .title | markdownify }}</h2>

        <div class="row">
          {{ if .dates.school_start_date}}
          <div class="col-4 mb-5">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ms-3">
                <h4>Duration</h4>
                <p>
                  {{ dateFormat "Jan 02, 2006" .dates.school_start_date }} -
                  {{ dateFormat "Jan 02, 2006" .dates.school_end_date }}
                </p>
              </div>
            </div>
          </div>
          {{/* Old version */}} {{/*
          <p class="mb-5 text-muted">
            {{ dateFormat "Jan 02, 2006"
            site.Data.homepage.dates.school_start_date }} -
            {{ dateFormat "Jan 02, 2006" site.Data.homepage.dates.school_end_date }}
          </p>
          */}} {{end}}
          <div class="col-md-8 col-sm-12 mb-5">
            <div class="project-meta">
              <i class="ti-info"></i>
              <div class="ms-3">
                <p class="text-muted text-left">
                  {{.content | markdownify}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-stretch">
        {{ $num_items := len .item }}
        {{ $col_size := math.Round (div 12 $num_items) }}
        {{ range .item }}
        <div class="col-lg-{{$col_size}} col-sm-6 mb-4">
          <div class="card shadow">
            <div class="position-relative rounded-top progress-wrapper" data-color="{{.color}}">
              <h4 class="position-absolute card-title text-center px-3 pt-3" style="z-index: 11; width: 100%;">
                {{.title }}
              </h4>
              <div class="wave" data-progress="{{.height}}"></div>
            </div>
            <div class="card-footer text-white text-left font-weight-light pb-3" data-color="{{.color}}">
              {{.content}}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /school -->
{{ end }}

{{ if site.Data.homepage.experience.enable }}
{{ with site.Data.homepage.experience }}
<!-- experience -->
<hr class="mb-0" />
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{{.logo | relURL }}" alt="icon" />
        <p class="mb-0">{{.duration}}</p>
        <h4>{{.title }}</h4>
        <h6 class="text-light">{{.company }}</h6>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
{{ end }}
<!-- /experience -->

<section class="section bg-secondary position-relative slideshow-bg-shapes">
  <div class="container">
    <div class="row">
      {{ partial "sponsor-slideshow.html" . }}
    </div>
  </div>
  {{ if site.Params.decor }}
  <!-- bg shapes -->
  <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map" />
  <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1" />
  <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2" />
  <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3" />
  <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4" />
  <img src="{{`images/illustrations/leaf-cyan.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5" />
  {{end}}
</section>

<!-- faculty slider -->
{{ if site.Data.homepage.faculty.enable }}
<hr class="mt-0" />
<section class="section">
  <div class="container" id="faculty">
    <div class="row mb-2">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title mb-0">{{site.Data.faculty.title}}</h2>
        <a href="people/#faculty">past {{site.Data.faculty.title | lower}} <i class="ti-arrow-top-right"></i></a>
      </div>
    </div>
    {{ partial "people-slider.html" site.Data.faculty }}

  </div>
</section>


<section class="section">
  <div class="container text-center" id="teaching-assistants">
    <div class="row mb-2">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title mb-0">{{site.Data.tutors.title}}</h2>
        <a href="people/#teaching-assistants">past {{site.Data.tutors.title | lower}} <i
            class="ti-arrow-top-right"></i></a>
      </div>
    </div>

    {{ partial "people-slider.html" site.Data.tutors }}

  </div>
</section>
<!-- /faculty logo slider -->
{{end}}

<!-- blog -->
{{ if site.Data.homepage.news.enable }}
<hr class="mb-0" />
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title mb-0">
          {{site.Data.homepage.news.title | markdownify }}
        </h2>
        <a href="news">read more<i class="ti-arrow-top-right"></i></a>
      </div>
      {{ range first 3 (where .Site.RegularPages "Section" "news")}}
      {{ .Render "post" }}
      {{ end }}

    </div>
  </div>
</section>
<!-- /blog -->
{{ end }}

{{ if site.Params.contact.homepage }} {{ partial "contact.html" . }} {{ end }}

<!-- end Main -->
{{ end }}