{{ define "main" }}

<!-- hero area -->
<section class="hero-area overflow-hidden"
  style="{{ if site.Data.homepage.banner.min_header_height}}min-height:{{site.Data.homepage.banner.min_header_height}};{{ end }}"
  {{ if site.Params.decor }} id="parallax" {{ end }}>
  <div class="layer-bg w-100 position-absolute"
    style="{{ if site.Data.homepage.banner.opacity}}opacity:{{site.Data.homepage.banner.opacity}}%;{{ end }}">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1 class="text-white font-tertiary text-center">
          {{ site.Data.homepage.banner.title | safeHTML }}
        </h1>
      </div>
      {{ if site.Data.homepage.banner.show_date }}
      {{ with site.Data.homepage.school }}
        {{ if .dates}}
          <div class="col-lg-12 mx-auto position-relative">
            <h4 class="text-white font-tertiary text-center">
              <i class="ti-calendar"></i> 
              {{ if .dates.school_start_date}}
                {{ dateFormat "Jan 02, 2006" .dates.school_start_date }} -
                {{ dateFormat "Jan 02, 2006" .dates.school_end_date }}
              {{ else if .dates.estimated_date}}
                {{ .dates.estimated_date }}
              {{ end }}
            </h4>
          </div>
        {{ end }}
      {{ end }}
      {{ end }}
      {{ if site.Data.homepage.banner.show_address }}
          <div class="col-lg-12 mx-auto position-relative">
            <h4 class="font-tertiary text-center">
              <a href="about" class="text-white">
                <i class="ti-location-pin"></i> 
                {{ site.Params.address }}
              </a>
            </h4>
          </div>
      {{ end }}
    </div>
    <div class="row mt-5">
      <div class="col-lg-12 mx-auto">
      {{ with site.Data.homepage.banner.cta }}
      {{ if .enable}}
        <ul class="list-unstyled mt-3 position-relative zindex-1 d-flex align-items-center justify-content-center">
          {{ range .item }}
          {{ if gt (len .URL) 5}}
          <li class="m-3" >
            <a class="btn btn-primary btn-lg text-white shadow p-3"
               style="background-color:{{.color}} !important; border-color:{{.color}} !important;"
                href="{{.URL | safeURL }}">{{.title}}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
    </div>
    </div>
    <!-- social icon -->
    <ul class="list-unstyled mt-5 position-relative zindex-1 d-flex align-items-center justify-content-center">
      {{ range site.Params.social }}
      {{ if gt (len .URL) 5}}
      <li class="m-3">
        {{ if .embed}}
        {{ .embed | safeHTML}}
        {{ else }}
        <h3><a class="" href="{{.URL | safeURL }}" {{if .text}} title="{{.text}}" data-bs-toggle="tooltip" data-bs-placement="bottom" {{end}}><i class="{{.icon}}"></i></a></h3>
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
    </ul>
    <!-- /social icon -->  
  {{ if site.Params.decor }}
  <div class="layer" id="l2">
    <img src="{{`images/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l3">
    <img src="{{`images/illustrations/leaf-orange.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l4">
    <img src="{{`images/illustrations/dots-orange.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l5">
    <img src="{{`images/illustrations/leaf-yellow.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l6">
    <img src="{{`images/illustrations/leaf-cyan.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l7">
    <img src="{{`images/illustrations/dots-group-orange.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l8">
    <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL}}" alt="bg-shape" />
  </div>
  <div class="layer" id="l9">
    <img src="{{`images/illustrations/leaf-cyan-2.svg` | relURL}}" alt="bg-shape" />
  </div>
  {{end}}

</section>
<!-- /hero area -->

{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-10 mx-auto text-center">
        <p class="font-secondary lead text-dark">{{site.Data.homepage.about.content | markdownify}}</p>
      </div>
      <hr>
      <!--  registration info button  -->
      <div class="row">
        <div class="col-12 text-center">
          {{ $link := default "/apply" site.Data.application_info.link}}
          <a href="{{$link}}" class="btn btn-outline-secondary"><i class="ti-info-alt"></i>
            &nbsp;{{site.Data.application_info.info_link_label}}</a>
        </div>
      </div>
      <!--  /registration info button  -->
      {{partial "applications"}}
    </div>

    <!-- application period -->
    {{ if site.Data.application_info.show_period }}
      <div class="row mt-3">
        {{partial "application_period"}}
      </div>  
    {{ end }}
    <!-- /application period -->
  </div>
</section>
<!-- /about -->
{{ end }}

<!-- the school -->
{{ with site.Data.homepage.school }}
<hr class="mb-0" />

<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title text-center mb-5">{{ .title | markdownify }}</h2>

        <div class="row">
          {{ if .dates}}
          <div class="col-4 mb-5">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ms-3">
                {{ if .dates.school_start_date}}
                <h4>Duration</h4>
                <p>
                  {{ dateFormat "Jan 02, 2006" .dates.school_start_date }} -
                  {{ dateFormat "Jan 02, 2006" .dates.school_end_date }}
                </p>
                {{ else }}
                <h4>{{ .dates.estimated_date }}</h4>
                {{ end }}
              </div>
            </div>
          </div>
          {{end}}
          <div class="col-md-8 col-sm-12 mb-5">
            <div class="project-meta">
              <i class="ti-info"></i>
              <div class="ms-3">
                <p class="text-muted text-left">
                  {{.content | markdownify}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-stretch">
        {{ $num_items := len .item }}
        {{ $col_size := math.Round (div 12 $num_items) }}
        {{ range .item }}
        <div class="col-xl-{{$col_size}} col-lg-4 col-sm-6 mb-4">
          <div class="card shadow h-100" data-color="{{.color}}">
            <div class="position-relative rounded-top progress-wrapper" data-color="{{.color}}">
              <h4 class="position-absolute card-title text-center px-3 pt-3" style="z-index: 11; width: 100%;">
                {{.title | safeHTML}}
              </h4>
              <div class="wave" data-progress="{{.height}}"></div>
            </div>
            <div class="card-footer text-white text-left font-weight-light pb-3" data-color="{{.color}}">
              {{.content | safeHTML}}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /school -->
{{ end }}


<!-- sponsors -->
{{ if site.Data.homepage.sponsors.enable }}
<section class="section bg-secondary position-relative slideshow-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title text-white mb-0">{{ site.Data.sponsors.title | markdownify }}</h2>
        {{ if site.Data.homepage.sponsors.link }}
        <a href="{{site.Data.homepage.sponsors.link | absURL}}" class="text-white">view all<i class="ti-arrow-top-right"></i></a>
        {{ end }}
      </div>
      {{ partial "sponsor-slideshow.html" . }}
      {{ if site.Data.homepage.sponsors.link }}
      <div class="col-12 text-center mt-5">
        <a href="{{site.Data.homepage.sponsors.link | absURL}}" class="btn btn-outline-success">view all {{site.Data.sponsors.title | markdownify | lower}}<i class="ti-arrow-top-right"></i></a>
      </div>
      {{ end }}
    </div>
  </div>
  {{ if site.Params.decor }}
  <!-- bg shapes -->
  <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map" />
  <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1" />
  <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2" />
  <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3" />
  <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4" />
  <img src="{{`images/illustrations/leaf-yellow.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5" />
  {{end}}
</section>
<!-- /sponsors -->
{{ end }}


<!-- schedule -->
{{with site.Data.homepage.schedule}}
{{ if .enable }}
  <section id="schedule" class="section bg-light">
    <div class="container">
      <div class="row mb-2">
        <div class="col-12 text-center mb-5">
          <h2 class="section-title mb-0">{{site.Data.schedule.title}}</h2>
          {{if site.Data.homepage.schedule.link}}
            <a href="{{site.Data.homepage.schedule.link}}">{{site.Data.homepage.schedule.link_text}}
              {{$link_icon := default "arrow-top-right" site.Data.homepage.schedule.link_icon}}
              <i class="ti-{{$link_icon}}"></i></a>
          {{end}}
      </div>
      
      {{ partial "schedule.html" (dict "collapsed" true)}}
    </div>
  </section>
{{ end }}
{{ end }}
<!-- /schedule -->


<!-- faculty slider -->

{{ if site.Data.homepage.faculty.enable }}
{{/*  <hr class="mt-0" />  */}}
<section class="section">
  <div class="container" id="faculty">
    <div class="row mb-2">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title mb-0">{{site.Data.homepage.faculty.title}}</h2>
        {{/*  assign site.Data.homepage.faculty.link to $faculty_link with default value of /people#faculty  */}}
        {{ $faculty_link := default "/people/#faculty" site.Data.homepage.faculty.link }}
        <a href="{{$faculty_link}}">{{site.Data.homepage.faculty.link_text}}<i class="ti-arrow-top-right"></i></a>
      </div>
    </div>
    {{ partial "people-slider.html" site.Data.faculty }}

  </div>
</section>

{{ if site.Data.tutors }}
<section class="section">
  <div class="container text-center" id="teaching-assistants">
    <div class="row mb-2">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title mb-0">{{site.Data.tutors.title}}</h2>
        {{ $ta_link := default "/people/#teaching-assistants" site.Data.homepage.faculty.link}}
        <a href="{{$ta_link}}">{{site.Data.homepage.faculty.link_text}}<i class="ti-arrow-top-right"></i></a>
      </div>
    </div>

    {{ partial "people-slider.html" site.Data.tutors }}

  </div>
</section>
{{end}}
<!-- /faculty logo slider -->
{{end}}

<!-- blog -->
{{ if site.Data.homepage.news.enable }}
{{ with .Site.GetPage "/news" }}
<hr class="mb-0" />
<section class="section bg-dark">
  <div class="container">
    <div class="row justify-content-center align-items-start">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title mb-0 text-white">
          {{.Title | markdownify }}
        </h2>
        <a href="news">read more<i class="ti-arrow-top-right"></i></a>
      </div>
      {{ range first 3 (where .Site.RegularPages "Section" "news")}}
      {{ .Render "post" }}
      {{ end }}

    </div>
  </div>
</section>
<!-- /blog -->
{{ end }}
{{ end }}

{{ if site.Data.homepage.experience.enable }}
{{ with site.Data.experience }}
<!-- experience -->
<hr class="my-0" />
<section class="section bg-light position-relative slideshow-bg-shapes">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title" id="experience">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
        <a href="{{.link}}" target="_blank">
          <img class="img-fluid d-inline-block rounded" src="{{.image | relURL }}" title="{{.name | markdownify}}" alt="photo of {{.name | markdownify}}"/>
        </a>
          <p class="mb-0">{{.position | markdownify}}</p>
          <h4><a href="{{.link}}" target="_blank">{{.name | markdownify}}</a></h4>
          <h6 class="text-light">{{.affiliation | markdownify}}</h6>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
  {{ if site.Params.decor }}
  <!-- bg shapes -->
  <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map" />
  <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5" />
  <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4" />
  <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3" />
  <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2" />
  <img src="{{`images/illustrations/leaf-cyan.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1" />
  {{ end }}
</section>

{{ end }}
{{ end }}
<!-- /experience -->


{{ if site.Params.contact.homepage }} {{ partial "contact.html" . }} {{ end }}

<!-- end Main -->
{{ end }}