{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- archive item -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 align-items-center">
        <img src="{{if .Params.thumbnail}}{{.Params.thumbnail | relURL}}{{ else }}{{.Params.Image | relURL}}{{ end }}"
          class="img-fluid w-100" alt="{{ .Title }}" />
      </div>
      <div class="offset-lg-1 col-lg-8 mb-5 mb-lg-0">
        <div class="row mx-0">
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ms-3">
                <h4>Dates</h4>
                <p>{{ .PublishDate.Format "Jan 02, 2006" }}
                </p>
                {{if .Params.end_date}}
                  <p>- {{ .Params.end_date | dateFormat "Jan 02, 2006" }}</p>
                {{ end }}
              </div>
            </div>
          </div>
          {{ with .Params.Client}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-user"></i>
              <div class="ms-3">
                <h4>Client</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}

          {{ with .Params.categories}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-folder"></i>
              <div class="ms-3">
                <h4>Categories</h4>
                <p class="d-flex flex-wrap">
                  {{ range . }}
                  <p>
                  <a href="/categories/{{ . | urlize }}" class="badge bg-secondary text-white m-0">{{ . }}</a>
                  </p>
                  {{ end }}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ if .Params.playlist}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-youtube"></i>
              <div class="ms-3">
                <h4><a href="{{.Params.playlist}}" target="_blank"
                  title="link for {{.Params.Title}}">Playlist</a></h4>
              </div>
            </div>
          </div>
          {{ end }}
          {{ if .Params.report}}
          <div class="col-sm-6 mb-5">
            <a href="{{.Params.report}}" target="_blank"
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="click to access report for {{.Params.Title}}">
              <div class="project-meta">
                <i class="ti-agenda"></i>
                <div class="ms-3">
                  <h4 class="">Report</h4>
                  {{$report_link_end := index ((split .Params.report "/") | last 1) 0}}
                  <p><small class="text-muted"><strong>{{.Params.report | first 5}}...{{$report_link_end | last 20}}</strong></small></p>
                  <small class="text-muted"><em>public</em></small>
                </div>
              </div>
            </a>
          </div>
          {{ end }}
          {{ if .Params.material_link}}
          <div class="col-sm-6 mb-5">
            <a href="{{.Params.material_link}}" target="_blank"
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="click to access material for {{.Params.Title}}">
              <div class="project-meta">
                <i class="ti-link"></i>
                <div class="ms-3">
                  <h4 class="">Material</h4>
                  {{$material_link_end := index ((split .Params.material_link "/") | last 1) 0}}
                  {{$material_link_start := index ((split .Params.material_link "//") | first 2) 1}}
                  <p><small class="text-muted"><strong>{{$material_link_start | first 5}}...{{$material_link_end | last 20}}</strong></small></p>
                  <small class="text-muted"><em>restricted</em></small>
                </div>
              </div>
            </a>
          </div>
          {{ end }}
          {{ if .Params.schedule_link}}
          <div class="col-sm-6 mb-5">
            <a href="{{.Params.schedule_link}}" target="_blank"
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="click to access schedule for {{.Params.Title}}">
              <div class="project-meta">
                <i class="ti-menu-alt"></i>
                <div class="ms-3">
                  <h4 class="">Schedule</h4>
                  {{$schedule_link_end := index ((split .Params.schedule_link "/") | last 1) 0}}
                  {{$schedule_link_start := index ((split .Params.schedule_link "//") | first 2) 1}}
                  <p><small class="text-muted"><strong>{{$schedule_link_start | first 5}}...{{$schedule_link_end | last 20}}</strong></small></p>
                  <small class="text-muted"><em>public</em></small>
                </div>
              </div>
            </a>
          </div>
          {{ end }}
          {{ if .Params.album}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-camera"></i>
              <div class="ms-3">
                <h4><a href="{{.Params.album}}" target="_blank"
                  title="photo album for {{.Params.Title}}">photo album</a></h4>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-11">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>
<!-- /archive item-->


{{ end }}