{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- archive item -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 offset-lg-1 mb-5 align-items-center">
        <img src="{{if .Params.thumbnail}}{{.Params.thumbnail | relURL}}{{ else }}{{.Params.Image | relURL}}{{ end }}"
          class="img-fluid w-100" alt="{{ .Title }}" />
      </div>
      <div class="col-lg-7 mb-5 mb-lg-0 d-flex justify-content-end align-items-center">
        <div class="row mx-0">
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ms-3">
                <h4>Date</h4>
                <p>{{ .PublishDate.Format "Jan 02, 2006" }}</p>
              </div>
            </div>
          </div>
          {{ with .Params.Client}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-user"></i>
              <div class="ms-3">
                <h4>Client</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}

          {{ with .Params.categories}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-folder"></i>
              <div class="ms-3">
                <h4>Categories</h4>
                <p>{{ delimit . ", " | humanize }}</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ if .Params.material_link}}
          <div class="col-sm-6 mb-5" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="for school attendees only">
            <div class="project-meta">
              <i class="ti-link"></i>
              <div class="ms-3">
                <h4>Material</h4>
                <a href="{{.Params.material_link}}" target="_blank"
                  title="school material for {{.Params.Title}}">{{.Params.material_link}}</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-11">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>
<!-- /archive item-->


{{ end }}