{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 col-12 text-center">
        <h2 class="section-title">{{site.Params.address}}</h2>
      </div>
      <div class=" col-lg-6 col-12">
        {{ with site.Params.map }}
        {{"<!-- Google Map -->" | safeHTML}}
        {{.map_embed_html | safeHTML}}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 col-12 text-center">
        <h2 class="section-title">Follow us</h2>
      </div>
      <div class=" col-lg-6 col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          {{ if gt (len .URL) 5 }}
            <li class="list-inline-item"><a href="{{.URL}}" target="_blank"><i class="{{.icon}}"></i></a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ partial "contact.html" . }}

{{ end }}