{{ with (index .Page.Params ("people") )}}

<section class="section position-relative slideshow-bg-shapes">
  <div class="container">
    <div class="row justify-content-around">
      {{ range .item }}
      <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
        <a href="{{.link}}" target="_blank">
          <img class="img-fluid d-inline-block rounded" src="{{.image | relURL }}" title="{{.title | markdownify}}" alt="photo of {{.name | markdownify}}"/>
        </a>
          <p class="mb-0">{{.position | markdownify}}</p>
          <h4><a href="{{.link}}" target="_blank">{{.name | markdownify}}</a></h4>
          <h6 class="text-light">{{.affiliation | markdownify}}</h6>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}