{{ with (index .Page.Params ("people") )}}

<section class="section position-relative">
  <div class="container">
    <div class="row justify-content-around">
      {{ range .item }}
      <div class="col-lg-2 col-md-4 col-6 text-center mb-4">
        {{if .link}}<a href="{{.link}}" target="_blank">{{end}}
          <img class="img-fluid d-inline-block rounded" src="{{.image | relURL }}" title="{{.title | markdownify}}" alt="photo of {{.name | markdownify}}"/>
        {{if .link}}</a>{{end}}
          <p class="mb-0">{{.position | markdownify}}</p>
          <h4>
          {{if .link}}<a href="{{.link}}" target="_blank">{{end}}
          {{.name | markdownify}}
          {{if .link}}</a>{{end}}
          </h4>
          <h6 class="text-light">{{.affiliation | markdownify}}</h6>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}